{% extends 'base.html' %}
{% load static %}
{% block title %}Profile {% endblock %}
{% block content %}
<div class="container d-flex justify-content-left align-items-center">
  <div class="row w-100">
    <!-- Profile Card -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="upper">
          <img src="{% static 'images/cover-photo.png' %}" class="img-fluid" width="100%">
        </div>
        <div class="user text-center">
          <div class="profile">
            <img src="{{user.userprofile.image.url}}" class="rounded-circle" width="150" height="150">
          </div>
        </div>
        <div class="mt-5 text-center">
          <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
          <span class="text-muted d-block mb-2">@{{user.username}}</span>

          <div class="d-flex justify-content-between align-items-center mt-4 px-4">
            <!-- Form to update the image. -->
            <form method="post" enctype="multipart/form-data" id="update-image-form" name="update-image-form"
              action="{% url 'update_profile_image' %}">
              {% csrf_token %}
              <input type="file" name="profile_picture" id="profile_picture" class="form-control mb-2" accept="image/*">

              <button type="submit" class="btn btn-info mb-3">Change Profile Picture</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- User Information Update Form -->
    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0">
      <div class="card p-4">
        <h4 class="text-center">Update Profile</h4>
        <form method="post" action="{% url 'update_profile_info' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{user.first_name}}" required>
          </div>

          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{user.last_name}}" required>
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="{{user.username}}" required>
          </div>

          <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="3" placeholder="{{user.userprofile.bio}}"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
