{% extends 'base.html' %}
{% load static %}
{% block title %}Profile {% endblock %}
{% block content %}
<div class="container d-flex justify-content-left align-items-center">
    <div class="card">
      <div class="upper">
        <img src="{% static 'images/cover-photo.png' %}" class="img-fluid" width="100%">
      </div>
      <div class="user text-center">
        <div class="profile">
          <img src="{{user.userprofile.image.url}}" class="rounded-circle" width="150" height="150">
        </div>
      </div>
      <div class="mt-5 text-center">
        <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
        <span class="text-muted d-block mb-2">@{{user.username}}</span>
        
        <div class="d-flex justify-content-between align-items-center mt-4 px-4">
          <!-- Form to update the image. -->
            <form method="post" enctype="multipart/form-data" id="update-image-form" name="update-image-form" action="{% url 'update_profile_image' %}">
                {% csrf_token %}
                <input type="file" name="profile_picture" id="profile_picture" class="form-control mb-2" accept="image/*">

                <button type="submit" class="btn btn-info mb-3" >Change Profile Picture</button>
            </form>
        </div>
      </div>
    </div>
  </div> 
{% endblock %}