{% extends 'base.html' %}
{% load static %}
{% block title %}Book Appointment{% endblock %}
<!-- Page category and page title. -->
{% block page_category %}Patients{% endblock %}
{% block page_title %}Book Appointment{% endblock %}

{% block content %}
<section class="section profile">
  <div class="row">
    <!-- Doctors -->
    {% for doctor in page_obj %}
    <!-- Avoid displaying own profile if current user is a doctor -->
    {% if user.id != doctor.user_profile.user.id and doctor.user_profile.user.is_active %}
    <div class="col-md-6 col-lg-4 col-xxl-4">
      <div class="card">
        <div class="card-body profile-card pt-2 d-flex flex-column align-items-center">
          <img src="{{ doctor.user_profile.image.url }}" alt="Profile" class="rounded-circle">
          <h2>{{ doctor.user_profile.user.first_name }} {{ doctor.user_profile.user.last_name }}</h2>
          <a href="{% url 'view_profile' doctor.user_profile.user.username %}"><i><span
                class="text-muted">@{{doctor.user_profile.user.username }}</span></i></a>
          <p><strong>Specialty:</strong> {{ doctor.specialty|default:"No specialty available" }}</p>
          <p><strong>Charge Per hour ($):</strong> {{ doctor.charge_per_hour}}</p>
          <p class="text-muted"> <strong>Available Days: </strong> {{doctor.available_days}} </p>
          <p class="text-muted"> <strong>Available Time: </strong> {{doctor.available_from|date:"H:i"}} -
            {{doctor.available_to|date:"H:i"}}
          </p>
          <div class="row">
            <div class="col-6">
              <a class="btn btn-info mx-auto" href="{% url 'view_profile' doctor.user_profile.user.username %}">View
                Profile</a>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal"
                data-bs-target="#requestServicesModal" data-doctor-id="{{ doctor.id }}">Request Services</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% empty %}
    <p>No doctor Found</p>
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No Doctors Found</h4>
        <p>There are no doctors available at the moment. Please check back later.</p>
      </div>
    </div>
    {% endfor %}
  </div> <!-- End Doctors Display row -->

  <!-- Hidden form that appears when the user clicks request services button-->
  <div class="modal fade" id="requestServicesModal" tabindex="-1" aria-labelledby="requestServicesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestServicesModalLabel">Request Services</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'book_appointment' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}

            <div class="mb-3">
              <label for="appointment_reason" class="form-label">Reason for Appointment</label>
              <textarea class="form-control" id="appointment_reason" name="appointment_reason" rows="3" required>{{values.appointment_reason}}</textarea>
              <div class="invalid-feedback">Please enter a reason for the appointment!!</div>
            </div>

            <div class="mb-3">
              <label for="appointment_date">Appointment Date</label>
              <input type="date" class="form-control" id="appointment_date" name="appointment_date" value="{{values.appointment_date}}"
                placeholder="MM/DD/YYYY" required>
              <div class="invalid-feedback">Please enter the date of the Appointment !!</div>
            </div>

            <div class="mb-3">
              <label for="appointment_time">Appointment Time (Please use 24hr system, HH:MM)</label>
              <input type="text" class="form-control" id="appointment_time" name="appointment_time" value="{{values.appointment_time}}" placeholder="HH:MM"
                required>
              <div class="invalid-feedback">Please enter the time of the Appointment !!</div>
            </div>

            <input type="hidden" class="form-control" id="doctor_id" name="doctor_id" required>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Pagination -->
  <div class="row">
    <div class="col-4">
      <p class="text-muted" style="color: white;">Showing {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        pages.</p>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <!-- Navigation Links -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">First</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">Previous</span>
            </a>
          </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">Last</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/book_appointment.js' %}"></script>
{% endblock %}