{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="form-container">
        <div class="text">
            Login
        </div>
        <form method = 'post' name="login-form" id="login-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="username" id="username" value = "{{username}}" required>
                    <div class="underline"></div>
                    <label for="username">Username</label>
                    <span class="error-message" id="username-error"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="password" name="password" id="password" required>
                    <div class="underline"></div>
                    <label for="password">Password</label>
                    <span class="error-message" id="password-error"></span>
                </div>
            </div>

            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" id="submit" value="Login">
                </div>
            </div>

            <span>Already have an account? <a href="{% url 'register' %}">Register Here</a></span>
        </form>
    </div>

{% endblock %}

