{% extends 'base_auth.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="card">

    <div class="card-body">

        <div class="pt-3 pb-3">
            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
        </div>

        <form class="row g-3 needs-validation" novalidate action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" id="first_name"
                    value="{{field_values.first_name}}" required>
                <div class="invalid-feedback" id="fname-invalid">Please, enter your first name!</div>
            </div>

            <div class="col-md-6">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="last_name"
                    value="{{field_values.last_name}}" required>
                <div class="invalid-feedback" id="lname-invalid">Please, enter your last name!</div>
            </div>

            <div class="col-md-6">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" name="username" class="form-control" id="username"
                        value="{{field_values.username}}" required>
                    <div class="invalid-feedback" id="username-invalid">Please choose a username.</div>
                </div>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" class="form-control" id="email" value="{{field_values.email}}"
                    required>
                <div class="invalid-feedback" id="email-invalid">Please enter a valid Email adddress!</div>
            </div>

            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <div class="col-md-6">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <div class="col-md-12">
                <label for="role" class="form-label">Role</label>
                <select name="role" class="form-control" id="role" required>
                    <option value="" selected disabled>-- Please select your role -- </option>
                    {% for role in roles %}
                    {% if role.name == field_values.role %}
                    <option value="{{role.id}}" selected>{{role.name}}</option>
                    {% else %}
                    <option value="{{role.id}}">{{role.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <div class="invalid-feedback">Please select a role!</div>
            </div>

            <!-- ========= Doctors Additional fields. Appears only when the user selects role as a doctor. ===  -->
            <div id="doctorFields" style="display: none;">
                <div class="row">
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Specialty</label>
                        <input type="text" name="specialty" class="form-control" id="specialty" value="{{field_values.specialty}}">
                    </div>
                    <div class="col-md-6">
                        <label for="license_number" class="form-label">License Number</label>
                        <input type="text" name="license_number" class="form-control" id="license_number" value="{{field_values.license_number}}">
                    </div>
                </div>
            </div>



            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                            conditions</a></label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" name="submit" id="submit" type="submit">Create Account</button>
            </div>
            <div class="col-12">
                <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}