{{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="form-container">
    <div class="text">
        Reset Password
    </div>
    <form method = 'post' name="login-form" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            <div class="input-data">
                <input type="email" name="email" id="email"  required>
                <div class="underline"></div>
                <label for="email">Please enter your email</label>
                <span class="error-message" id="username-error"></span>
            </div>
        </div>

        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" id="submit" value="Reset Password">
            </div>
        </div>
    </form>
</div>

{% endblock %}