{{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="card">

    <div class="card-body">

        <div class="pt-3 pb-3">
            <h5 class="card-title text-center pb-0 fs-4">Set New Passsword</h5>
        </div>

        <form class="row g-3 needs-validation" novalidate action="" method="post">
            {% csrf_token %}
            <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <div class="col-md-12">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100" name="submit" id="submit" type="submit">Change Password</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}