{{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="form-container">
    <div class="text">
        Reset Password
    </div>
    <form method = 'post' name="login-form" id="login-form" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="input-data">
                <input type="password" name="password" id="password"  required>
                <div class="underline"></div>
                <label for="password">New Password</label>
                <span class="error-message" id="username-error"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input type="password" name="confirm_password" id="confirm_password"  required>
                <div class="underline"></div>
                <label for="confirm_password">Confirm New Password</label>
                <span class="error-message" id="username-error"></span>
            </div>
        </div>

        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" id="submit" value="Set New Password">
            </div>
        </div>
    </form>
</div>

{% endblock %}